.GStitle{
    text-align: center;
    color: #040f0f;
    padding: 50px;
    border-top: 2px solid #2ba84a;
}

.why{
    text-align: center;
    color: #040f0f;
    padding: 30px;
}
.gettingstarted{
    background-color:#e9ecef;
    margin-top: 0;
}

i{
    color:#248232;
}

.whatis{
    font-size: 20px;
}