.fa-usd{
    color:white;
}
.makemoney{
    background-color: #2ba84a;
    padding: 25px;
}

.sevenfifty{
    color: white;
    font-size: 20px;
    position: relative;
    top:10px;
}
.trucktitle{
    text-align: center !important;
    margin-top: 35px;
}

.benefits{
    font-weight: bold;
    color: #248232;
}

.greenappliances{
    height: 408px;
    width: 360px;
    margin: auto;
}

.joincontainer{
    text-align: center;

}

.join{
    font-weight: bold;
}

.joing{
    font-weight: bold;
    color: #248232;
}

.driverinfo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    padding-right: 60px;
    padding-left: 60px;
}

.lighticons{
    color: #56a96b;
    display: inline;
}

.perks{
    padding:0px;
    margin: 0px;
}

.v1{
    border-left: 4px solid #e9ecef;;
    height: 450px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 75px;
}