.jumbotron{
    height: 100vh;
    background: linear-gradient(rgba(18, 18, 18, 0.9), rgba(21, 21, 21, 0.9)), url('https://cdntdreditorials.azureedge.net/cache/f/a/4/1/8/d/fa418da0f9291759fadfd7880dc85062644896f3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Oswald', sans-serif;
    color: #FCFFFC;
    border-bottom: 4px solid #2ba84a;
    border-top: 4px solid #2ba84a;
    margin-bottom: 0;
}

#jumbotext{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}